table {
   border-collapse: collapse;
   width: 100%;
   max-width: 800px;
   margin: 20px auto;
 }
 
 th, td {
   text-align: left;
   padding: 8px;
 }
 
 th {
   background-color: #F1C40F;
   font-weight: bold;
 }
 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }
 
 .my-form {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
}

.form-container {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.form-container input[type=text], 
.form-container input[type=email], 
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
}
.form-container input[type=text]:focus, 
.form-container input[type=email]:focus, 
.form-container textarea:focus {
    border: 1px solid #F1C40F;
    box-shadow: 0px 0px 10px #F1C40F;
    outline: none;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 14px;
    margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px #f5f5f5;
}




 
 