<style>
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/* Effet hover */
.button:hover {
  background-color: #0062cc;
  color: #fff;
}
</style>


<form method="post" action="{{ path('app_transport_delete', {'idTransport': transport.idTransport}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transport.idTransport) }}">
    <button  class="button">Delete</button>
</form>
