

<style>
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

/* Effet hover */
.button:hover {
  background-color: #0062cc;
  color: #fff;
}

</style>


{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
