{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1><center> Modifier Utilisateurs</center></h1>

        {{ include('users/_form.html.twig', {'button_label': 'Valider'}) }}

        

    </div>
{% endblock %}

